<!DOCTYPE html>
<html>

<head>
    <title>EkoWarzywko - zamówienia</title>
    <link rel="stylesheet" type="text/css" href="styles/my_styles.css">
</head>

<body>
    <div style="display: inline;">Jesteś zalogowany jako administrator: <%= user %></div>
    <div style=" display: inline;">
        <a href="/">Wyloguj się</a>
    </div>
    <div>
        <a href="/admin" style="display: inline;">
            Powrót na stronę główną panelu administratora
        </a>
    </div>

    <div style=" left: 550px;">
        <h1>EkoWarzywko</h1>
    </div>
    <div style="left: 550px;">
        <p>Złożone zamówienia klientów </p>
    </div>
    <ul>
        <% orders.forEach(function(order){ %>
        <div class="orders">
            <div>
                <div>
                    Klient: <%= order.usrname %>
                </div>
                <div>Numer zamówienia: <%= order.id %></div>
                <div>Data zamówienia: <%= order.date %></div>
                <div>Wartość zamówienia: <%= order.value %></div>
                <div>Zamówione produkty: </div>
            </div>
            <ul>

                <% order.products.forEach(function(product){ %>
                <li><%= product.name %></li>
                <% })%>

            </ul>
        </div>
        <% })%>
    </ul>


</body>

</html>